<app-header title="Login"></app-header>

<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
        <input placeholder="email" formControlName="email" name="email" type="email">
        <div *ngIf="hasError('email')">
            <p *ngIf="get('email').errors.required">Email is required</p>
            <p *ngIf="get('email').errors.minlength">Email should be atleast 3 characters</p>
        </div>
    </div>
    <div>
        <input placeholder="password" formControlName="password" name="name" type="text">
        <div *ngIf="hasError('password')">
            <p *ngIf="get('password').errors.required">Password is required</p>
            <p *ngIf="get('password').errors.minlength">Password should be atleast 3 characters</p>
        </div>
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
